body {
  background: #f9e933;
}

header, main, footer {
  min-width: 855px;
}

header .container, main .container, footer .container {
  max-width: 855px;
   margin-bottom: 40px;
}

header {
  background: white;
  overflow: auto;
}

header h1 {
  float: left;
  width: 570px;
  font-size: 25px;
  font-weight: bold;
}
main h3
{
   font-size: 15px;
  font-weight: bold;
}
main p
{
  padding: 10px 10px 10px 10px;
}
header nav {
  float: right;
  width: 285px;
}

main {
  background: white;
  overflow: auto;
}

main .left {
  float: left;
  width: 570px;
}

main .right {
  float: right;
  width: 285px;
}

footer .left {
  float: left;
  width: 570px;
}


footer .sitemap {
  float: right;
  width: 285px;
}
